{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Моторное масло, фильтр, масляный, воздушный, VIC, Bosch, Motul, Mobil, Castrol, LiquiMoly, Knecht, Sparco, ENEOS, NGK">
    <meta name="viewport" content="width=1200">
    <link rel="stylesheet" href="{% static "public/css/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "public/fonts/fonts.css" %}">
    <link rel="stylesheet" href="{% static "public/css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "public/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "public/css/main.css" %}">
    <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    <!--[if gte IE 9]>
          <style type="text/css">
            .gradient {
               filter: none;
            }
          </style>
        <![endif]-->
    <script src="{% static "public/js/vendor/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "public/js/vendor/owl.carousel.min.js" %}"></script>
    <script src="{% static "public/js/vendor/magnific-popup.min.js" %}"></script>
</head>
<body>
<header class="main-header clearfix">
    <a class="main-header-logo" href="/"><img src="{% static "public/img/logo.png" %}" alt="Зеленый свет"></a>

    <div class="header-contacts">
        <div class="mp-contacts_street">ул. Мичурина 10/1, 2 этаж</div>
        <div class="mp-contacts_time">с 8:00 до 22:00</div>
        <div class="mp-contacts_phone"><a href="tel:+73833100900">3 100 900</a></div>
    </div>
</header>
{% block content %}
    {{ content }}
{% endblock %}
<footer class="main-footer">
    <img class="footer-logo" src="{% static "public/img/logo.png" %}" alt="">

    <div class="main-footer__title">Автозапчасти<br>в наличии и под заказ</div>
    <div class="main-footer__contacts">
        <div class="mp-contacts_street">ул. Мичурина 10/1, 2 этаж</div>
        <div class="mp-contacts_time">с 8:00 до 22:00</div>
        <div class="mp-contacts_phone">8 913 911 33 33</div>
    </div>
</footer>

<script src="{% static "public/js/main.js" %}"></script>

<script>
    $(window).on('load', function () {
        $.getScript("//api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.full", function () {
            // yandex map
            // get 'center' on http://dimik.github.io/ymaps/examples/location-tool/
            ymaps.ready(function () {
                var myMap = new ymaps.Map('YMapsID', {
                    center: [55.04099278, 82.92208250],
                    zoom: 16,
                    controls: []
                });

                var myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                    balloonContentBody: [
                        '<address>',
                        '<strong>Зеленый свет</strong>',
                        '<br/>',
                        'Адрес: ул. Мичурина 10/1, 2 этаж',
                        '<br/>',
                        'Телефон: 8 913 911 33 33',
                        '</address>'
                    ].join('')
                }, {
                    preset: 'islands#greenDotIcon'
                });
                myMap.geoObjects.add(myPlacemark);
            });

        });
    });
</script>
</body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter28744486 = new Ya.Metrika({id:28744486,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28744486" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>
