{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Автомагазин Зеленый Свет Новосибирск - масла, фильтра, автозапчасти. Скидка 10%</title>
    <meta name="description" content="Моторное масло, фильтр, масляный, воздушный, VIC, Bosch, Motul, Mobil, Castrol, LiquiMoly, Knecht, Sparco, ENEOS, NGK">
    <meta name="viewport" content="width=1200">
    <link rel="stylesheet" href="{% static "public/css/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "public/fonts/fonts.css" %}">
    <link rel="stylesheet" href="{% static "public/css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "public/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "public/css/main.css" %}">
    <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    <!--[if gte IE 9]>
          <style type="text/css">
            .gradient {
               filter: none;
            }
          </style>
        <![endif]-->
    <script src="{% static "public/js/vendor/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "public/js/vendor/owl.carousel.min.js" %}"></script>
    <script src="{% static "public/js/vendor/magnific-popup.min.js" %}"></script>
</head>
<style media='print' type='text/css'>
    .print-url-block-bottom {
        display: none !important;
    }
</style>

<body>
<div class="mp-order">
    <div style="width: 491px; margin: 0 auto;">
        <img src="{% static "public/img/discont.jpg" %}">
        <br/>
<span class="print-url-block-bottom" style="margin-top: 30px; display: block;">
         <a style="background:#69aa34;border-radius:8px;bottom: 0; position: inherit;left: 0; width: 200px; float: left;"
            class="main-slider__more" href="javascript:(print());">Распечатать</a>
         <a style="background:#69aa34;border-radius:8px;bottom: 0; position: inherit;left: 0; width: 200px; float: right;"
            class="main-slider__more" href="/">Перейти на сайт</a>
             </span>
    </div>
</div>
</body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter28744486 = new Ya.Metrika({id:28744486,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28744486" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>
