{% extends "base.html" %}
{% load static %}
{% block title %}Магазин автотоваров Зеленый свет: моторные масла, фильтры, расходники, запчасти{% endblock %}
{% block content %}
    {% if carousels %}
        <div class="main-slider">
            <div class="main-slider-list">
                {% for carousel in carousels %}
                    <div class="main-slider-item">
                        <img class="main-slider-list-img" src="{% get_media_prefix %}{{ carousel.image }}" alt="">

                        <div class="main-slider-list-content">
                            <h3>{{ carousel.title }}</h3>

                            <div class="main-slider__text">
                                {{ carousel.anons|safe }}
                            </div>
                        </div>
                        <a class="main-slider__more" href="#info{{ carousel.id }}">Подробнее</a>

                        <div id="info{{ carousel.id }}" class="mp-popup mfp-with-anim mfp-hide">
                            <h3>{{ carousel.title }}</h3>

                            <p>{{ carousel.content|safe }}</p>
                        </div>
                        <!-- /info popup -->
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="mp-how">
        <div class="mp-block-title-helper"><h2 class="mp-block-title">Как мы работаем?<i></i></h2></div>
        <div class="mp-how-item"><i class="how-item-chat"></i>Оставьте заявку на нашем сайте</div>
        <div class="mp-how-item"><i class="how-item-headphones"></i>Менеджер подберет запчасть именно для вашего
            автомобиля и оформит заказ
        </div>
        <div class="mp-how-item"><i class="how-item-cart"></i>Вы забираете запчасть или оформляете доставку</div>
    </div>

    <div class="mp-order">
        <div class="mp-block-title-helper"><h2 class="mp-block-title">Вам нужны запчасти?<i></i></h2></div>
        <div id="show-message-contact" style="display: none;"></div>
        <span id="send-message-me-please">Отправьте заявку, мы подберем для Вас наиболее подходящие варианты с указанием цен и перезвоним Вам.</span>

        <div class="mp-order__form clearfix">
            <form id="contact-form" action="/contact/" method="POST">
                <div class="mp-order__textlist">
                    <div class="input-title">Какие запчасти Вам нужны?</div>
                    <textarea id="input-content" name="content" placeholder="Введите название запчастей"></textarea>
                    <span id="input-content-errors" class="errors"></span>
                </div>
                <div class="fl-r">
                    <div class="mp-order-input mp-order__brand">
                        <div class="input-title">Информация об автомобиле:</div>
                        <input maxlength="20" id="input-brand_car" name="brand_car" type="text" placeholder="Марка">
                        <span id="input-brand_car-errors" class="errors"></span>
                    </div>
                    <div class="mp-order-input mp-order__year">
                        <input maxlength="4" id="input-year_car" name="year_car" type="text" placeholder="Год выпуска">
                        <span id="input-year_car-errors" class="errors"></span>
                    </div>
                    <div class="mp-order-input mp-order__name">
                        <div class="input-title">Контакты:</div>
                        <input maxlength="12" id="input-contact_name" name="contact_name" type="text"
                               placeholder="Как к Вам обращаться">
                        <span id="input-contact_name-errors" class="errors"></span>
                    </div>
                    <div class="mp-order-input mp-order__model">
                        <input maxlength="20" id="input-model_car" name="model_car" type="text" placeholder="Модель">
                        <span id="input-model_car-errors" class="errors"></span>
                    </div>
                    <div class="mp-order-input mp-order__vin">
                        <input maxlength="18" id="input-vin" name="vin" type="text" placeholder="Номер кузова (VIN)">
                        <span id="input-vin-errors" class="errors"></span>
                    </div>
                    <div class="mp-order-input mp-order__phone">
                        <input maxlength="16" id="input-contact_phone" name="contact_phone" type="text"
                               placeholder="Телефон">
                        <span id="input-contact_phone-errors" class="errors"></span>
                    </div>
                </div>
                <div class="mp-order__footer">
                    <label><input type="checkbox"> Подписаться на новости</label>
                    <button id="submit-form_button" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
    {% if brands %}
        <div class="mp-brands">
            <div class="mp-block-title-helper"><h2 class="mp-block-title">Наши бренды<i></i></h2></div>
            Бренды, товары которых, представлены в нашем магазине
            <div class="mp-brands-slider">
                {% for brand in brands %}
                    <div class="mp-brands-item">
                        <img src="{% get_media_prefix %}{{ brand.image }}" alt="{{ brand.name }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="mp-map">
        <div class="mp-block-title-helper"><h2 class="mp-block-title">Наш адрес<i></i></h2></div>
        <div class="mp-map-wrap">
            <div id="YMapsID" style="width: 100%; height: 450px"></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#submit-form_button').on('click', function (e) {
                e.preventDefault();
                var self_object = $(this);
                var form = $('#contact-form');
                var div_message = $('#show-message-contact');
                $.ajax({
                    type: "POST",
                    url: form.attr("action"),
                    data: form.serialize(),
                    beforeSend: function () {
                        self_object.attr("disabled", "disabled");
                        $('.errors').html('');
                        $('.error').removeClass('error');
                        div_message.html();
                        div_message.hide();
                    },
                    success: function (data) {
                        self_object.removeAttr("disabled");
                        if (data['status'] == true) {
                            form.hide();
                            $('#send-message-me-please').hide();
                            html = '<h4 style="color:green;">' + data['message'] + '</h4>';
                            div_message.html(html);
                            div_message.show();
                        } else {
                            ;
                            $.each(data['errors'], function (index, value) {
                                $('#input-' + index).addClass("error");
                                $('#input-' + index + '-errors').html(value);
                            });
                        }

                    }
                });


            });
        });
    </script>
{% endblock %}