<img src="http://www.glshop.ru/static/public/img/logo.png" alt="Зеленый свет">
<h4>Здравствуйте!</h4>
<p>На сайте появилась новая заявка:</p>
<ul>
    <li><b>Контактное лицо:</b> {{ model.contact_name }}</li>
    <li><b>Контактный телефон:</b> {{ model.contact_phone }}</li>
    <li><b>Марка автомобиля:</b> {{ model.model_car }}</li>
    <li><b>Модель автомобиля:</b> {{ model.model_car }}</li>
    <li><b>Год выпуска:</b> {{ model.year_car }}</li>
    <li><b>VIN:</b> {{ model.vin }}</li>
    <li><b>VIN:</b> {{ model.content }}</li>
    <li><b>Текст запроса:</b> {{ model.contact_name }}</li>
</ul>
<p><a href="http://www.glshop.ru/admin/app/message/16/">Подробнее...</a></p>
<p style="text-align: right;">С уважением, Администрация.</p>